.card-img-top{
    max-width: 30%;
}


#cliccato{
    border:2px solid red;
    
}
.1{
    border:2px solid red
}
.cinque:active.text{
    
 
}
 

.quattro:active{
 
}
 
.tre:active{
 
}
 
.due:active{
 
}
 
.uno:active{
 
}
 
.sei:active{
 
}
 